
@font-face {font-family: "sell-icon";
  src: url('../fonts/sell-icon.eot?t=1481787488332'); /* IE9*/
  src: url('../fonts/sell-icon.eot?t=1481787488332#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/sell-icon.woff?t=1481787488332') format('woff'), /* chrome, firefox */
    url('../fonts/sell-icon.ttf?t=1481787488332') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/sell-icon.svg?t=1481787488332#sell-icon') format('svg'); /* iOS 4.1- */
}

.sell-icon {
  font-family:"sell-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-zuoyoujiantou:before { content: "\e600"; }

.icon-gouwuche:before { content: "\e601"; }

.icon-jian:before { content: "\e629"; }

.icon-aixin:before { content: "\e61f"; }

.icon-down:before { content: "\e603"; }

.icon_shopping_cart:before { content: "\e903"; }

.icon-jia:before { content: "\e622"; }

.icon-gou:before { content: "\e73d"; }

.icon-damuzhi:before { content: "\e607"; }

.icon-weibiaoti6-copy:before { content: "\e670"; }

